<html>

<head>
  <%- css('/dist/semantic.min.css') %>
  <%- css('/style.css') %>
  <%- js('/dist/semantic.min.js') %>
</head>

<body>
  <div class="ui container">
    <%- partial('_partial/logo') %>
    <%- partial('_partial/menu') %>
    <%- body %>
  </div>
</body>

</html>
